<!DOCTYPE html>
<html>

<head>
    <title>Error</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body style="background-color: rgb(210, 133, 148);">
    <h1>Data Match Successfully !</h1>
</body>

</html>